:root {
  --background-color: #fff;
  --second-background-color: #f7f7f7;
  --primary-color: #005080;
  --first-text-color: #323739;
  --second-text-color: #343a3c;
  --third-text-color: #6e7a7e;
  --fourth-text-color: #eaeced;
  --default-text-color: #373d3f;
  --border-color: #b3b3b3;
  --selection-color: #0068a6;
  --shadow-color: rgba(0,0,0,0.2);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #42494c;
  --scroll-bar-bg-color: #e6e6e6;
  --link-color: #323739;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  --note-blue-title-bg: #d6f7fb;
  --note-red-title-bg: #fde9e9;
  --note-cyan-title-bg: #e9fdf9;
  --note-green-title-bg: #e9fde9;
  --note-yellow-title-bg: #fdf9e9;
  --note-gray-title-bg: #f9f9f9;
  --note-orange-title-bg: #fdf3e9;
  --note-black-title-bg: #e9e9e9;
  --note-purple-title-bg: #f9e9fd;
}
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --second-background-color: #f7f7f7;
    --primary-color: #005080;
    --first-text-color: #323739;
    --second-text-color: #343a3c;
    --third-text-color: #6e7a7e;
    --fourth-text-color: #eaeced;
    --default-text-color: #373d3f;
    --border-color: #b3b3b3;
    --selection-color: #0068a6;
    --shadow-color: rgba(0,0,0,0.2);
    --shadow-hover-color: rgba(0,0,0,0.28);
    --scrollbar-color: #42494c;
    --scroll-bar-bg-color: #e6e6e6;
    --link-color: #323739;
    --copyright-info-color: #c03;
    --avatar-background-color: #06c;
    --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
    --note-blue-title-bg: #d6f7fb;
    --note-red-title-bg: #fde9e9;
    --note-cyan-title-bg: #e9fdf9;
    --note-green-title-bg: #e9fde9;
    --note-yellow-title-bg: #fdf9e9;
    --note-gray-title-bg: #f9f9f9;
    --note-orange-title-bg: #fdf3e9;
    --note-black-title-bg: #e9e9e9;
    --note-purple-title-bg: #f9e9fd;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #202124;
    --second-background-color: #1d1e20;
    --primary-color: #005080;
    --first-text-color: #d2d2d7;
    --second-text-color: #cbcbd1;
    --third-text-color: #9595a2;
    --fourth-text-color: #242429;
    --default-text-color: #bebec6;
    --border-color: #4a4c53;
    --selection-color: #0068a6;
    --shadow-color: rgba(61,61,61,0.2);
    --shadow-hover-color: rgba(69,69,69,0.28);
    --scrollbar-color: #1d1e20;
    --scroll-bar-bg-color: #4a4c53;
    --link-color: #c5c5cc;
    --copyright-info-color: #a30029;
    --avatar-background-color: #005cb8;
    --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
    --note-blue-title-bg: #1e3e46;
    --note-red-title-bg: #4e1e1e;
    --note-cyan-title-bg: #1e4e4e;
    --note-green-title-bg: #1e4e1e;
    --note-yellow-title-bg: #4e4e1e;
    --note-gray-title-bg: #4e4e4e;
    --note-orange-title-bg: #4e3a1e;
    --note-black-title-bg: #1e1e1e;
    --note-purple-title-bg: #4e1e4e;
  }
}
.light-mode {
  --background-color: #fff;
  --second-background-color: #f7f7f7;
  --primary-color: #005080;
  --first-text-color: #323739;
  --second-text-color: #343a3c;
  --third-text-color: #6e7a7e;
  --fourth-text-color: #eaeced;
  --default-text-color: #373d3f;
  --border-color: #b3b3b3;
  --selection-color: #0068a6;
  --shadow-color: rgba(0,0,0,0.2);
  --shadow-hover-color: rgba(0,0,0,0.28);
  --scrollbar-color: #42494c;
  --scroll-bar-bg-color: #e6e6e6;
  --link-color: #323739;
  --copyright-info-color: #c03;
  --avatar-background-color: #06c;
  --pjax-progress-bar-color: linear-gradient(45deg, #f10006, #ef5b00, #e59c01, #19ca05, #00cab5, #0264c8, #c303c3);
  --note-blue-title-bg: #d6f7fb;
  --note-red-title-bg: #fde9e9;
  --note-cyan-title-bg: #e9fdf9;
  --note-green-title-bg: #e9fde9;
  --note-yellow-title-bg: #fdf9e9;
  --note-gray-title-bg: #f9f9f9;
  --note-orange-title-bg: #fdf3e9;
  --note-black-title-bg: #e9e9e9;
  --note-purple-title-bg: #f9e9fd;
}
.dark-mode {
  --background-color: #202124;
  --second-background-color: #1d1e20;
  --primary-color: #005080;
  --first-text-color: #d2d2d7;
  --second-text-color: #cbcbd1;
  --third-text-color: #9595a2;
  --fourth-text-color: #242429;
  --default-text-color: #bebec6;
  --border-color: #4a4c53;
  --selection-color: #0068a6;
  --shadow-color: rgba(61,61,61,0.2);
  --shadow-hover-color: rgba(69,69,69,0.28);
  --scrollbar-color: #1d1e20;
  --scroll-bar-bg-color: #4a4c53;
  --link-color: #c5c5cc;
  --copyright-info-color: #a30029;
  --avatar-background-color: #005cb8;
  --pjax-progress-bar-color: linear-gradient(45deg, #ea404a, #ea722f, #e9a71f, #67e559, #18ecec, #1b85f1, #ee1dee);
  --note-blue-title-bg: #1e3e46;
  --note-red-title-bg: #4e1e1e;
  --note-cyan-title-bg: #1e4e4e;
  --note-green-title-bg: #1e4e1e;
  --note-yellow-title-bg: #4e4e1e;
  --note-gray-title-bg: #4e4e4e;
  --note-orange-title-bg: #4e3a1e;
  --note-black-title-bg: #1e1e1e;
  --note-purple-title-bg: #4e1e4e;
}
