.tag-container .tag-name {
  color: var(--second-text-color);
  font-size: 1.6rem;
redefine-tablet()
redefine-mobile()
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: $component-spacing-value;
  border-bottom: 1px solid var(--border-color);
}
.tag-container .tag-name i {
  color: var(--second-text-color);
}
